@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    background: #010001;
    color: #ffffff;
    padding-top: 53px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
}

.wrapper {
    max-width: 1230px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.item-link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
}

.secondary-nav .item-link {
    color: #808080;
}


/*Main section*/
.main {
    width: 100%;
    text-align: center;
}

.main_wrapper {
    width: 90%;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 30px;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
    margin-top: 0;
}

.description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    max-width: 268px;
    margin: auto;
}

.description:after{
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 26px;
}

.video {
    max-width: 1230px;
    height: 750px;
    width: 90%;
    margin: auto;
}

.features {
    width: 100%;
}

.features_wrapper {
    position: relative;
    width: 90%;
    max-width: 1230px;
    margin: auto;
    padding: 100px 0;
}

.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 45px;
    width: 100%;
}

.overview_information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.specification {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.table_wrapper {
    margin-bottom: 200px;
}

.table-column {
    width: 300px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 179.69%;
}

.features-text {
    max-width: 490px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
}

/*<img 
    src="img/rocket.png"
    alt="rocket" 
    class="rocket"
    data-rellax-speed="15"
>*/

.rocket {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 99;
    width: 300px;
}

.footer {
    width: 100%;
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav .item-link {
    font-size: 18px;
    line-height: 21px;
}

.footer .logo {
    margin-bottom: 43px;
}

.footer-nav {
    margin-bottom: 28px;
}

.footer-text {
    margin-top: 0;
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    text-decoration: none;
    margin-bottom: 30px;
}

.footer-link {
    color: #808080;
    text-decoration: none;
}

.button {
    color: #ffffff;
    min-width: 260px;
    min-height: 60px;
    padding: 20px;
    text-align: center;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
    text-decoration: none;
}

@media (max-width: 1024px) {

    .rocket {
        width: 250px;
    }
}

@media (max-width: 960px) {
    .rocket {
        max-width: 230px;
    }
    .table-column {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header .logo {
        margin-bottom: 20px;
        padding-left: 20px;
    }
    .header .main-nav {
        margin-bottom: 20px;
    }
    .rocket {
        max-width: 180px;
    }
    .video {
        width: 100%;
    }
    .table-column {
        width: 180px;
    }
    .features-text {
        width: 450px;
    }
}

@media (max-width: 576px) {
    html {
        overflow-x: hidden;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .main-nav .list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .secondary-nav .list {
        align-items: center;
        justify-content: center;
    }
    .title {
        font-size: 45px;
    }
    .overview_information {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .rocket {
        position: static;
        margin: auto;
        margin-bottom: 30px;
    }
    .table {
        margin-bottom: 0;
    }
    .table-column {
        font-size: 14px;
        width: 150px;
    }
    .footer-nav .list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer-nav .item {
        margin-bottom: 10px;
    }
    .footer {
        text-align: center;
    }
    .main {
        padding-top: 50px;
    }
    .features {
        padding-bottom: 0;
    }
    .features-text {
        width: 100%;
    }
}

@media (max-width: 425px) {
    /*html {
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }*/
    .wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .list {
        width: 100%;
    }
}
